body {
  margin: 0;
}

#narrative {
  display: none;
}

#battle {
  display: flex;
  justify-content: center;
  margin: 2rem;
  padding: 1rem;
  gap: 4rem;
  background-color: whitesmoke;
}

[data-player="true"] .avatar {
  background: lightblue;
  height: 8rem;
}
[data-player="false"] .avatar {
  background: lightcoral;
  height: 8rem;
}

.meter {
  height: 10px;
  width: 200px;
  background-color: lightgray;
  margin: 1rem 0;
}
[data-player="true"] .meter .progress {
  background-color: dodgerblue;
  height: 100%;

}

[data-player="false"] .meter .progress {
  background-color: crimson;
  height: 100%;
}

.log { margin-left: 2rem;}

#narrative-controller {
  width: 500px;
  height: 80px;
  background: tan;
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  padding: 0.5rem 2rem;
}
p {
  margin: 0;
  font-family: sans-serif;
}
#narrative-controller .next-btn {
  position: absolute;
  right: 0;
  bottom:0;
}
#narrative-controller .close-btn {
  position: absolute;
  right: 0;
  top:0;
}

